html, body {
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: #444;
  background-color: #EEEEEE;
}

.title {
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
  height: 100%;
}

main {
  position: relative;
  width: 100%;
  flex: 1;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.input-container {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

/* Style the title bar */
.title-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 20px;
  z-index: 9999;
}

/* Add hover effect */
.title-bar:hover {
  background-color: #555;
  cursor: pointer;
}

input[type=text] {
  margin: 0 auto;
  display: block;
  width: 75%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  font-size: 16px;
}

input.large { display: inline-block; }
input.small { display: none; }



input[type=text]:hover {
  border-color: #555;
}

input[type=text]::placeholder {
  color: #aaa;
}

#fastSearch {
  position: relative;
  top: -20px;
  align-items: center;
  justify-content: center;
}

#searchResults {
  flex: 1;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 40px
}

#searchResults.result {
  width: 50%;
}

ul {
  padding: 0;
}

#pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
li[class="active"] a {
	color: #444;
	text-decoration: none;
}
.tags li, .pagination li {
    display: inline;
    padding: 0px;
    display: inline-block;
    white-space: break-spaces;
}
.tags li:after,.pagination li:after {
    content: '/';
    margin: 0 0.5rem 0 0.5rem;
    padding: 0;
}
.tags li:last-child:after,.pagination li:last-child:after {
    content: none;
}
footer {
  display: flex;
  position: relative;
  bottom: 0;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

#footer p {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px
}
/* Styles for smaller screens */
@media (max-width: 1000px) {
  input[type=text] {
    font-size: 70px;
    padding: 12px;
    width: 75%;
  }
  input.large { display: none; }
  input.small { display: inline-block; }
  body {
    font-size: 40px;
    max-width: 800px;
  }

  .input-container {
    padding-top: 80px;
  }

  .title-bar {
    height: 130px;
    font-size: 35px;
  }
  .tags li:after {
    margin: 0 1rem 1rem;
                  }
.pagination {
	font-size: 60px;
	margin: 30px;
}
.pagination li:after {
    margin: 0 1.2rem 1.2rem;
}
  #searchResults {
  padding-bottom: 130px;
  }
}
