<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
      <!-- Blocks may include default content. -->
      {{ .Site.Title }}
    {{ end }}</title>
    <link rel="stylesheet" href="{{ "/css/custom.css" | relURL }}">
  </head>
  <body>
    <header>
    <div class="title-bar">
	<span class="title"><a href="https://psdatasets.org" style="text-decoration: none; color: inherit;"><h1 class="title">PSdatasets.org</h1></a></span>
    </div>
    </header>
    <main>
    {{ block "main" . }}
    {{ end }}
    </main>
    {{ block "footer" . }}
    <footer>
    <div id="footer">
    <p>&copy; Jay Langford -- 2023</p>
    </div>
    </footer>
    {{ end }}
  </body>
<script src="/js/fuse.js"></script> <!-- download and copy over fuse.js file from fusejs.io -->
<script src="/js/search.js"></script>

</html>
